body {
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
}

h1{
    color: #080808;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 39px;
}

 h2 {
    color: #080808;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 30px;
    text-transform: uppercase;
 }

p {
    color: #080808;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px;
    margin-top: 5px;
    font-size: 20px;
    text-align: center;

}

table {
    border-collapse: collapse;
    margin: 20px auto;
    width: 80%;
}

img {
    display: block;
    margin: 10px auto;
    border-radius: 12px;
    width: 200px;
}

th, td {
    background-color: white;
    border: 1px solid #4d4d8f;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    
}

a:visited {
    color: red;
}